target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

src/main/client/dist
src/main/client/tmp
src/main/client/out-tsc

# dependencies
src/main/client/node_modules

# IDEs and editors
src/main/client/*.idea
src/main/client/*.project

# misc
src/main/client/coverage
src/main/client/npm-debug.log
src/main/client/typings

# e2e
src/main/client/e2e/*.js
src/main/client/e2e/*.map
